<section class="my-4 container">
  <h2 class="mb-4">Add a new page</h2>
  <form *ngIf="categories" [formGroup]="addPageForm" (ngSubmit)="addPage()">
    <div class="form-group">
      <div class="input-group mb-0">
        <div class="input-group-prepend">
          <label class="input-group-text">Select category</label>
        </div>
        <select class="custom-select" formControlName="category">
          <option *ngFor="let category of categoriesChild" aria-label="breadcrumb">
            {{ category.name }}
          </option>
          <option *ngFor="let category of categories" aria-label="breadcrumb">
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title">
      <small class="text-danger">{{ printError(addPageForm.get('title')) }}</small>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="6" formControlName="description"></textarea>
      <small class="text-danger">{{ printError(addPageForm.get('description')) }}</small>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="addPageForm.invalid" type="submit">Add a page</button>
  </form>
</section>



