<section class="my-4 container">
  <div *ngFor="let response of alertManagerManager.responseList">
    <div class="alert {{ response.alert }}" role="alert">
      {{ response.message }}
    </div>
  </div>
  <div class="modal fade" id="emailAuthModal" tabindex="-1" role="dialog" aria-labelledby="emailAuthLabel" aria-hidden="true">
    <app-double-auth [user]="user"></app-double-auth>
  </div>
  <div class="vertical-center">
    <div class="w-100">
      <h2 class="h3 mb-3 text-center">Sign in to Naturopath</h2>
      <div class="login-center">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-setting border rounded-lg">
          <div class="form-group">
            <label class="my-0">Username or email address</label>
            <input type="text" formControlName="emailOrUsername" class="form-control mt-2">
            <small class="text-danger">{{ printError(loginForm.get('emailOrUsername')) }}</small>
          </div>
          <div class="form-group">
            <label class="my-0">Password<a class="label-link" routerLink="/forget">Forgot password?</a></label>
            <input type="password" formControlName="password" class="form-control mt-2">
            <small class="text-danger">{{ printError(loginForm.get('password')) }}</small>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label">Remember me</label>
          </div>
          <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <p class="login-center-p justify-content-center text-center my-4 border rounded-lg">New here?
          <a class="label-link" routerLink="/register">Create an account</a>.
        </p>
      </div>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" style="font-size: 14px;" routerLink="/terms">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 14px;" routerLink="/privacy">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</section>
