<section class="my-4 container">

  <div id="alertPlacement"></div>

  <form [formGroup]="RegisterForm" (ngSubmit)="Register()" id="registerForm" class="form-setting">
    <h2 class="mb-4">Create your personal account</h2>
    <div class="form-group">
      <label for="inputUsername" class="my-0">Username</label>
      <input type="text" name="username" id="inputUsername" formControlName="username" class="form-control mt-2" autocapitalize="off"  autofocus="autofocus">
      <p class="note">This will be your username. You can update your username later.</p>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="my-0">Email address</label>
      <input type="email" name="email" id="inputEmail" formControlName="email" class="form-control mt-2" autocapitalize="off"  autofocus="autofocus">
      <p class="note">We’ll never share your email address with anyone. The tested email service provider are hotmail, outlook and gmail.</p>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="my-0">Password</label>
      <input type="password" name="password" id="inputPassword" formControlName="password" class="form-control mt-2" autocapitalize="off" autofocus="autofocus">
      <p class="note">Make sure it's at least 8 characters.</p>
    </div>
    <div class="form-group">
      <label for="inputPasswordConfirm" class="my-0">Confirm password</label>
      <input type="password" name="password_confirm" id="inputPasswordConfirm" formControlName="password_confirm" class="form-control mt-2" autocapitalize="off"  autofocus="autofocus">
    </div>
    <h4 class="mb-3">Verify your account</h4>
    <div class="g-recaptcha center" data-sitekey=""></div>
    <p class="note my-3">By clicking “Create an account” below, you agree to our <a routerLink="/terms">Terms of Service</a> and <a routerLink="/privacy">Privacy Statement</a>. We’ll occasionally send you account-related emails.</p>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="RegisterForm.invalid" type="submit">Create an account</button>
  </form>
  <p class="form-ypc text-center my-4">
    Already have an account?
    <a class="label-link" routerLink="/login">login</a>.
  </p>

</section>
