<section class="my-4 container">

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tag of tags; let index = index">
      <th scope="row">{{ index }}</th>
      <td>{{ tag.name }}</td>
      <td><button type="button" class="btn btn-primary" [routerLink]="['/edittag', tag.id]">Edit</button></td>
    </tr>
    </tbody>
  </table>

</section>

