<section class="my-4 container">

  <div id="alertPlacement"></div>

  <h2 class="font-weight-normal mb-4">Contact us</h2>
  <hr class="style1 mb-4">
  <form [formGroup]="contactForm" (ngSubmit)="contact()">
    <div class="form-group">
      <label class="my-0">Subject</label>
      <input type="text" formControlName="subject" class="form-control mt-2">
    </div>
    <div class="form-group">
      <label class="my-0">Message</label>
      <textarea class="form-control mt-2" formControlName="message" rows="8"></textarea>
    </div>
    <button class="btn btn-primary mt-3 mb-4" type="submit">Send</button>
  </form>

</section>
