<section class="my-4 container">

  <h2 class="mb-4">Add a new page</h2>

  <form [formGroup]="addPageSelectCategoryForm" (ngSubmit)="addPageSelectCategory()">
    <div class="form-group">
      <div class="input-group mb-0">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category" >Select category</label>
        </div>
        <select class="custom-select" id="category" formControlName="categories">
          <option *ngFor="let category of categories" aria-label="breadcrumb">
            {{ category.name }}
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ category.name }}</a></li>
                <li *ngFor="let ca of category.childCategory" class="breadcrumb-item active" aria-current="page"><a href="#">
                  {{ ca.name }}
                </a></li>
              </ol> -->
          </option>
        </select>
      </div>
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title">
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
      <div *ngIf="addPageSelectCategoryForm.get('title').invalid &&
        (addPageSelectCategoryForm.get('title').dirty || addPageSelectCategoryForm.get('title').touched)" >
        <p *ngIf="addPageSelectCategoryForm.get('title').errors.required"
           class="note text-danger">Please type a description.</p>
        <p *ngIf="addPageSelectCategoryForm.get('title').errors.minlength || addPageSelectCategoryForm.get('title').errors.minlength"
           class="note text-danger">Please insert minimum of 8 characters and a maximum of 128 characters.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
      <div *ngIf="addPageSelectCategoryForm.get('description').invalid &&
        (addPageSelectCategoryForm.get('description').dirty || addPageSelectCategoryForm.get('description').touched)" >
        <p *ngIf="addPageSelectCategoryForm.get('description').errors.required"
           class="note text-danger">Please type a description.</p>
        <p *ngIf="addPageSelectCategoryForm.get('description').errors.minlength || addPageSelectCategoryForm.get('description').errors.minlength"
         class="note text-danger">Please insert minimum of 64 characters and a maximum of 1024 characters.</p>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="addPageSelectCategoryForm.invalid" type="submit">Add a page</button>
  </form>
</section>



