<section class="my-4 container-fluid" style="max-width: 1900px">

  <div *ngFor="let search of searchList">
    <div class="page-image page-border-radius" [style]="'background-image:url(http://localhost:8080/api/v1/resource/' +  searchListCategoryUrl.get(search.categoryViewDto.id) + ');'">
      <div class="page-border-radius" style="background-color: rgba(30, 32, 34, 0.6);">
        <div class="jumbotron p-4 mb-4 text-white page-border-radius" style="background-color: rgba(0, 0, 0, 0)!important;">
          <p class="display-4">{{ search.categoryViewDto.name }}</p>
        </div>
      </div>
    </div>
    <div *ngFor="let page of search.pageSimplifiedViewDto2List">
      <p>{{ page.title }}</p>
    </div>
  </div>




</section>
