<section class="my-4 container">
  <h2 class="mb-4">Add a new paragraphType</h2>
  <form [formGroup]="addParagraphTypeForm" (ngSubmit)="addParagraphType()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <small class="form-text text-muted">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</small>
      <small class="text-danger">{{ printError(addParagraphTypeForm.get('name')) }}</small>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="6" formControlName="description"></textarea>
      <small class="form-text text-muted">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</small>
      <small class="text-danger">{{ printError(addParagraphTypeForm.get('description')) }}</small>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="addParagraphTypeForm.invalid" type="submit">Add a paragraphtype</button>
  </form>
</section>
