<section class="my-4 container">

  <h2 class="mb-4">Edit tag</h2>

  <form *ngIf="tag" [formGroup]="editInnerTagForm">
    <div class="form-group">
      <label for="nameTag">Title:</label>
      <input type="text" class="form-control" formControlName="nameTag" id="nameTag" >
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
      <div *ngIf="editInnerTagForm.get('nameTag').invalid &&
        (editInnerTagForm.get('nameTag').dirty || editInnerTagForm.get('nameTag').touched)" >
        <p *ngIf="editInnerTagForm.get('nameTag').errors.required"
           class="note text-danger">Please type a description.</p>
        <p *ngIf="editInnerTagForm.get('nameTag').errors.minlength || editInnerTagForm.get('nameTag').errors.minlength"
           class="note text-danger">Please insert minimum of 8 characters and a maximum of 128 characters.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="contentTag">Description:</label>
      <textarea id="contentTag" formControlName="contentTag" class="form-control"></textarea>
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
      <div *ngIf="editInnerTagForm.get('contentTag').invalid &&
        (editInnerTagForm.get('contentTag').dirty || editInnerTagForm.get('contentTag').touched)" >
        <p *ngIf="editInnerTagForm.get('contentTag').errors.required"
           class="note text-danger">Please type a description.</p>
        <p *ngIf="editInnerTagForm.get('contentTag').errors.minlength || editInnerTagForm.get('contentTag').errors.minlength"
           class="note text-danger">Please insert minimum of 64 characters and a maximum of 1024 characters.</p>
      </div>
    </div>
    <div class="mb-3">
      <div *ngIf="tag.innerTagList[tag.innerTagList.length - 1].state === 'DRAFT'; else elseIfBlock">
        <button type="button" class="btn btn-primary mr-2" id="save" (click)="updateInnerTag()">Save Draft</button>
        <button type="button" class="btn btn-primary" id="validation" (click)="validationInnerTag()">Validation</button>
      </div>
      <ng-template #elseIfBlock>
        <div *ngIf="tag.innerTagList[tag.innerTagList.length - 1].state === 'VALIDATING'; else elseBlock">
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="{{ 'width:' + (tag.innerTagList[tag.innerTagList.length - 1].favour * 20).toString() + '%' }}" aria-valuenow="{{ tag.innerTagList[tag.innerTagList.length - 1].favour * 20 }}" aria-valuemin="0" aria-valuemax="100">{{ tag.innerTagList[tag.innerTagList.length - 1].favour }}/5</div>
            <div class="progress-bar bg-danger" role="progressbar" style="{{ 'width:' + (tag.innerTagList[tag.innerTagList.length - 1].against * 20).toString() + '%' }}" aria-valuenow="{{ tag.innerTagList[tag.innerTagList.length - 1].against * 20 }}" aria-valuemin="0" aria-valuemax="100">{{ tag.innerTagList[tag.innerTagList.length - 1].against }}/5</div>
          </div>
          <button type="button" class="btn btn-primary mr-2" (click)="voteInnerTag(tag.innerTagList[tag.innerTagList.length - 1].id, 1)">Favour</button>
          <button type="button" class="btn btn-primary" (click)="voteInnerTag(tag.innerTagList[tag.innerTagList.length - 1].id, 0)">Against</button>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="progress mb-2">
          <div class="progress-bar bg-success" role="progressbar" style="{{ 'width:' + (tag.innerTagList[tag.innerTagList.length - 1].favour * 20).toString() + '%' }}" aria-valuenow="{{ tag.innerTagList[tag.innerTagList.length - 1].favour * 20 }}" aria-valuemin="0" aria-valuemax="100">{{ tag.innerTagList[tag.innerTagList.length - 1].favour }}/5</div>
          <div class="progress-bar bg-danger" role="progressbar" style="{{ 'width:' + (tag.innerTagList[tag.innerTagList.length - 1].against * 20).toString() + '%' }}" aria-valuenow="{{ tag.innerTagList[tag.innerTagList.length - 1].against * 20 }}" aria-valuemin="0" aria-valuemax="100">{{ tag.innerTagList[tag.innerTagList.length - 1].against }}/5</div>
        </div>
        <button type="button" class="btn btn-primary" id="new" (click)="addInnerTag(tag.innerTagList[tag.innerTagList.length - 1].id, tag.id)">New title/description</button>
      </ng-template>
    </div>
  </form>
</section>
