<section *ngIf="user" class="my-4 container">

  <div *ngIf="!user.confirmed" class="alert alert-warning" role="alert">
    You still need to confirm your account!
  </div>

  <div *ngFor="let response of alertManagerManager.responseList">
    <div class="alert {{ response.alert }}" role="alert">
      {{ response.message }}
    </div>
  </div>

  <h2 class="font-weight-normal mb-4">Settings</h2>
  <nav>
    <div class="nav nav-tabs mb-4" role="tablist">
      <a class="nav-item nav-link" routerLink="/settings/account">Account</a>
      <a class="nav-item nav-link" routerLink="/settings/security">Security</a>
      <a class="nav-item nav-link" routerLink="/settings/profile">Profile</a>
      <a class="nav-item nav-link" routerLink="/settings/appearance">Appearance</a>
    </div>
  </nav>
  <div class="tab-content mb-4">
    <!-- Account -->
    <div *ngIf="param === 'account' || !param">
      <form [formGroup]="updateUsernameEmailForm" (ngSubmit)="updateUsernameEmail()">
        <div class="form-group">
          <label class="my-0">New username</label>
          <input type="text" formControlName="username" class="form-control mt-2">
        </div>
        <div class="form-group">
          <label class="my-0">New email</label>
          <input type="email" formControlName="email" class="form-control mt-2">
        </div>
        <div class="form-group">
          <label class="my-0">Password</label>
            <a class="label-link ml-2 mb-4" routerLink="/forget">Forgot password?</a>
          <input type="password" formControlName="password" class="form-control mt-2">
          <div *ngIf="updateUsernameEmailForm.get('password').invalid &&
                   (updateUsernameEmailForm.get('password').dirty || updateUsernameEmailForm.get('password').touched)" >
            <p *ngIf="updateUsernameEmailForm.get('password').errors.required"
               class="note text-danger">Please type a password.</p>
          </div>
        </div>
        <button [disabled]="updateUsernameEmailForm.invalid" class="btn btn-primary mb-2" type="submit">Update</button>
      </form>
      <hr class="style1 my-4">
      <p>Send me a email</p>
      <form>
        <button class="btn btn-primary mb-2" type="button">Update</button>
      </form>
      <div *ngIf="!user.confirmed">
        <hr class="style1 my-4">
        <p>Resend me a confirmation link</p>
        <form [formGroup]="confirmForm" (ngSubmit)="setConfirmation()">
          <button class="btn btn-primary mb-2" type="submit">Resend a confirmation</button>
        </form>
    </div>
    </div>
    <!-- End Account -->
    <!-- Security -->
    <div *ngIf="param === 'security'">
      <form [formGroup]="deleteForm" (ngSubmit)="setDelete()">
        <div class="form-group">
          <label class="my-0">Password</label>
            <a class="label-link ml-2 mb-4" routerLink="/forget">Forgot password?</a>
          <input type="password" formControlName="password" class="form-control mt-2">
          <div *ngIf="deleteForm.get('password').invalid &&
                   (deleteForm.get('password').dirty || deleteForm.get('password').touched)" >
            <p *ngIf="deleteForm.get('password').errors.required"
               class="note text-danger">Please type a password.</p>
          </div>
        </div>
        <button [disabled]="deleteForm.invalid" class="btn btn-danger mb-2" type="submit">Delete Account</button>
      </form>
      <hr class="style1 my-4">
      <p>Request all my data</p>
      <form class="form-setting">
        <button class="btn btn-primary mb-2" type="submit">Request data</button>
      </form>
    </div>
    <!-- End Security -->
    <!-- Profile -->
    <div *ngIf="param === 'profile'">
      <form [formGroup]="updateNameForm" (ngSubmit)="updateName()">
        <div class="form-group">
          <label class="my-0">New first name</label>
          <input placeholder="John" type="text" formControlName="firstName" class="form-control mt-2">
        </div>
        <div class="form-group">
          <label class="my-0">New last name</label>
          <input placeholder="Doe" type="text" formControlName="lastName" class="form-control mt-2">
        </div>
        <button class="btn btn-primary mb-2" type="submit">Update</button>
      </form>
      <hr class="style1 my-4">
      <p>Profile privacy</p>
      <form [formGroup]="updatePrivacyForm" (ngSubmit)="updatePrivacy()">
        <div class="mb-3 form-check form-switch">
          <input type="checkbox" class="form-check-input" formControlName="isPrivate">
          <label class="form-check-label">Private</label>
        </div>
        <button class="btn btn-primary mb-2" type="submit">Update</button>
      </form>
    </div>
    <!-- End Profile -->
    <!-- Appearance -->
    <div *ngIf="param === 'appearance'">
      <p>Theme</p>
      <form [formGroup]="updateAppearanceForm" (ngSubmit)="updateAppearance()">
        <div class="mb-3 form-check form-switch">
          <input type="checkbox" class="form-check-input" formControlName="dark">
          <label class="form-check-label">Dark theme</label>
        </div>
        <button class="btn btn-primary mb-2" type="submit">Update</button>
      </form>
    </div>
    <!-- End Appearance -->
  </div>
  <p class="note my-3">You have agreed to our <a routerLink="/terms">Terms of Service</a> and <a routerLink="/privacy">Privacy Statement</a>.</p>

</section>
