<section *ngIf="user" class="my-4 container">

  <div *ngIf="!user.confirmed" class="alert alert-warning" role="alert">
    You still need to confirm your account!
  </div>

  <div id="alertPlacement"></div>

  <h2 class="font-weight-normal mb-4">Settings</h2>
  <nav>
    <div class="nav nav-tabs mb-4" role="tablist">
      <a class="nav-item nav-link" routerLink="/settings/account">Account</a>
      <a class="nav-item nav-link" routerLink="/settings/security">Security</a>
      <a class="nav-item nav-link" routerLink="/settings/profile">Profile</a>
      <a class="nav-item nav-link" routerLink="/settings/appearance">Appearance</a>
    </div>
  </nav>
  <div class="tab-content">
    <!-- Account -->
    <div *ngIf="param === 'account' || !param" class="">
      <form [formGroup]="updateUsernameEmailForm" (ngSubmit)="updateUsernameEmail()" class="form-setting">
        <div class="form-group">
          <label class="my-0">New username</label>
          <input type="text" formControlName="username" name="username" class="form-control mt-2">
        </div>
        <div class="form-group">
          <label class="my-0">New email</label>
          <input type="email" formControlName="email" name="email" class="form-control mt-2">
        </div>
        <div class="form-group">
          <label class="my-0">Password</label>
            <a class="label-link ml-2 mb-4" routerLink="/forget">Forgot password?</a>
          <input type="password" formControlName="password" name="password" class="form-control mt-2">
        </div>
        <button class="btn btn-primary mb-4" type="submit">Update</button>
      </form>
      <hr class="style1 my-4">
      <p>Send me a email</p>
      <form id="emailUpdateForm" class="form-setting">
        <div class="form-group">
          <label class="containerCheckbox">if there is a update of my playlists
            <input type="checkbox" name="checkbox_playlists" id="checkbox_playlists" value="1">
            <span class="checkmark"></span>
            <input type="hidden" name="checkbox_playlists" id="checkbox_playlists_hidden" value="0">
          </label>
        </div>
        <button class="btn btn-primary mb-4" type="button">Update</button>
      </form>
      <hr class="style1 my-4">
      <p>Resend me a confirmation link</p>
      <form id="resendConfirmationForm" class="form-setting">
        <button class="btn btn-primary mb-4 <?= User::getInstance()->getUser()->confirmed_at != null ? 'disabled' : '' ?>" type="submit"></button>
      </form>
    </div>
    <!-- End Account -->
    <!-- Security -->
    <div *ngIf="param === 'security'">
      <form class="form-setting">
        <div class="form-group">
          <label class="my-0">Password</label>
            <a class="label-link ml-2 mb-4" routerLink="/forget">Forgot password?</a>
          <input type="password" name="password" class="form-control mt-2" required="" autocapitalize="off" autocorrect="off">
        </div>
        <input type="hidden" name="action" value="updateSecurity">
        <button class="btn btn-danger mb-4" type="submit">Delete Account</button>
      </form>
      <hr class="style1 my-4">
      <p>Request all my data</p>
      <form id="requestDataForm" class="form-setting">
        <button class="btn btn-primary mb-4" type="submit">Request data</button>
      </form>
    </div>
    <!-- End Security -->
    <!-- Profile -->
    <div *ngIf="param === 'profile'">
      <form class="form-setting">
        <div class="form-group">
          <label class="my-0">New first name</label>
          <input placeholder="John" type="username" name="first_name" class="form-control mt-2" value="<?= UserInformations::getInstance()->getUserInfo()->first_name ?>" required="">
        </div>
        <div class="form-group">
          <label class="my-0">New last name</label>
          <input placeholder="Doe" type="username" name="last_name" class="form-control mt-2" value="<?= UserInformations::getInstance()->getUserInfo()->last_name ?>" required="">
        </div>
        <button class="btn btn-primary mb-4" type="submit">Update</button>
      </form>
    </div>
    <!-- End Profile -->
    <!-- Appearance -->
    <div *ngIf="param === 'appearance'">
      <form class="form-setting" action="/settings">
        <div class="form-group">
          <label class="containerCheckbox">Dark theme
            <input type="checkbox" name="checkbox_dark" id="checkbox_dark" value="1">
            <span class="checkmark"></span>
            <input type="hidden" name="checkbox_dark" id="checkbox_dark_hidden" value="0">
          </label>
        </div>
        <button class="btn btn-primary mb-4" type="button">Update</button>
      </form>
    </div>
    <!-- End Appearance -->
  </div>
  <p class="note my-3">You have agreed to our <a routerLink="/terms">Terms of Service</a> and <a routerLink="/privacy">Privacy Statement</a>.</p>

</section>
