<app-connect-from-cookie></app-connect-from-cookie>
<app-header></app-header>

<div class="alert alert-warning" role="alert">
    <div class="container">
        This is a demo site! Please note that our database is regularly reset.
        To view the application logs, please visit <a href="{{log_url}}" target="_blank">{{log_url}}</a><span class="small"> (The double authentication code or the confirmation link can be found in the log)</span>.
    </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
