<section class="my-4 container">
  <div *ngIf="!id">
    <h2 class="font-weight-normal mb-4">My tickets</h2>
    <p>A problem? <a routerLink="/contact">create a new ticket</a></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Subject</th>
          <th scope="col">Last message from</th>
          <th scope="col">Created at</th>
          <th scope="col">Open</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of ticketList" routerLink="/ticket/{{ ticket.id }}" >
          <th scope="row"><a routerLink="/ticket/{{ ticket.id }}">{{ ticket.id }}</a></th>
          <td>{{ ticket.subject }}</td>
          <td>{{ ticket.contentList[0].userSecurity.username }} <small class="text-muted">{{ username === ticket.contentList[0].userSecurity.username ? 'you' : 'admin' }}</small></td>
          <td>{{ ticket.createdAt| date:'dd MMMM yyyy - HH:mm' }}</td>
          <td>{{ ticket.close ? 'Close' : 'Open' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="id && ticketList">
    <div class="jumbotron mb-3 pb-0 pt-1 pl-2">
        <button type="button" class="btn btn-sm btn-outline-secondary d-inline mb-2 mr-3" style="max-width: 130px" routerLink="/ticket">Back to my ticket</button>
        <p class="display-6 d-inline">Ticket {{ ticketList.id }}</p>
    </div>

    <form *ngIf="!ticketList.close" [formGroup]="ticketMessageForm" class="mt-1">
      <div class="form-group">
        <textarea type="text" formControlName="content" class="form-control" placeholder="Type your message here..."></textarea>
        <small class="text-danger">{{ printError(ticketMessageForm.get('content')) }}</small>
      </div>
      <button type="button" class="btn btn-sm btn-primary btn-block mr-2" [disabled]="ticketMessageForm.invalid" (click)="addMessage()">Send</button>
    </form>
    <form class="form-inline mt-3" *ngIf="!ticketList.close">
      <div class="form-group form-check" [formGroup]="ticketCloseForm">
        <input type="checkbox" class="form-check-input" formControlName="check">
        <label class="form-check-label">Close</label>
      </div>
      <button type="button" class="btn btn-sm btn-primary ml-3" [disabled]="!ticketCloseForm.get('check').value" (click)="close()">Close ticket</button>
    </form>

    <div *ngIf="ticketList.length !== 0">
      <ul class="timeline-message mb-0 mt-3">
        <li *ngFor="let message of ticketList.contentList" class="{{ username === message.userSecurity.username ? 'primary' : 'success' }}">
          <div class="message-hover rounded">
            <h5 class="d-inline mr-2">{{ message.userSecurity.username }}</h5>
            <small class="text-muted mr-2">{{ message.createdAt| date:'dd MMMM yyyy - HH:mm' }}</small>
            <small class="text-muted">{{ username === message.userSecurity.username ? '' : ' help team' }}</small>
            <p>{{ message.content }}</p>
            <small *ngIf="message.isEdited">Edited</small>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
