<section class="my-4 container">

  <div *ngFor="let response of alertManagerManager.responseList">
    <div class="alert {{ response.alert }}" role="alert">
      {{ response.message }}
    </div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="form-setting">
    <h2 class="mb-4">Create your personal account</h2>
    <div class="form-group">
      <label class="my-0">Username</label>
      <input type="text" formControlName="username" class="form-control mt-2">
      <small class="form-text text-muted">This will be your username. You can update your username later.</small>
      <div *ngIf="registerForm.get('username').invalid &&
        (registerForm.get('username').dirty || registerForm.get('username').touched)" >
        <p *ngIf="registerForm.get('username').errors.required"
           class="note text-danger">Please type a username.</p>
      </div>
    </div>
    <div class="form-group">
      <label class="my-0">Email address</label>
      <input type="email" formControlName="email" class="form-control mt-2">
      <small class="form-text text-muted">We’ll never share your email address with anyone. The tested email service provider are hotmail, outlook and gmail.</small>
    </div>
    <div *ngIf="registerForm.get('email').invalid &&
        (registerForm.get('email').dirty || registerForm.get('email').touched)" >
      <p *ngIf="registerForm.get('email').errors.required"
         class="note text-danger">Please type a email.</p>
      <p *ngIf="registerForm.get('email').errors.email" class="note text-danger">Please insert a valid email address.</p>
    </div>
    <div class="form-group">
      <label class="my-0">Password</label>
      <input type="password" formControlName="password" class="form-control mt-2">
      <small class="form-text text-muted">Make sure it's at least 8 characters.</small>
    </div>
    <div *ngIf="registerForm.get('password').invalid &&
        (registerForm.get('password').dirty || registerForm.get('password').touched)" >
      <p *ngIf="registerForm.get('password').errors.required"
         class="note text-danger">Please type a password.</p>
      <p *ngIf="registerForm.get('password').errors.pattern"
         class="note text-danger">Password must contain at least one lowercase, uppercase, numeric, special character and between six and sixteen characters.</p>
      <p *ngIf="registerForm.get('password').errors?.noMatch"  class="note text-danger">The password does not match</p>
    </div>
    <div class="form-group">
      <label class="my-0">Confirm password</label>
      <input type="password" formControlName="password_confirm" class="form-control mt-2">
    </div>
    <div *ngIf="registerForm.get('password_confirm').invalid &&
        (registerForm.get('password_confirm').dirty || registerForm.get('password_confirm').touched)" >
      <p *ngIf="registerForm.get('password_confirm').errors.required"
         class="note text-danger">Please type password confirmation.</p>
      <p *ngIf="registerForm.get('password_confirm').errors.pattern"
         class="note text-danger">Password must contain at least one lowercase, uppercase, numeric, special character and between six and sixteen characters.</p>
      <p *ngIf="registerForm.get('password_confirm').errors?.noMatch" class="note text-danger">The password does not match</p>
    </div>
    <h4 class="mb-3">Verify your account</h4>
    <div class="g-recaptcha center" data-sitekey=""></div>
    <p class="note my-3">By clicking “Create an account” below, you agree to our <a routerLink="/terms">Terms of Service</a> and <a routerLink="/privacy">Privacy Statement</a>. We’ll occasionally send you account-related emails.</p>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="registerForm.invalid" type="submit">Create an account</button>
  </form>
  <p class="form-ypc text-center my-4">
    Already have an account?
    <a class="label-link" routerLink="/login">login</a>.
  </p>

</section>
