<section class="my-4 container">
  <div class="row">
    <div class="col-md-auto">
      <div *ngFor="let category of categories">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/pages', category.id]">{{ category.name }}</a></li>
            <li *ngFor="let ca of category.childCategory" class="breadcrumb-item active" aria-current="page"><a  [routerLink]="['/pages', category.id]" >
              {{ ca.name }}
            </a></li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col">
      <h2 class="font-weight-normal mb-4">Monitored playlists</h2>
      <hr class="style1 mb-4">
      <div class="row">
        <div *ngFor="let page of pages" class="col-md-4 mb-4">
          <a class="card" [routerLink]="['/page', page.id]">
            <div class="card-header">
              <h5 title="{{ page.title }}" class="font-weight-normal">{{ page.title }}</h5>
            </div>
            <div class="card-body">

            </div>
          </a>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
