<section class="container my-4" style="white-space: pre-wrap;">
    <h1 class="display-1">{{ page?.title }}</h1>
  <p>by <a href="">{{ page?.user.username }}</a> the {{ page?.createdAt| date:'dd MMMM yyyy' }}</p>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{{ page?.category.name }}</a></li>
      </ol>
    </nav>

  <div *ngIf="page">
    <div *ngFor="let sortedType of page.sortedTypeList">
      <div *ngIf="sortedType.type === 'ParagraphType'">
        <div *ngFor="let paragraph of page.paragraphList">
          <div *ngIf="paragraph.paragraphType.id === sortedType.typeId">
            <p class="h4">{{ paragraph.paragraphType.name }} - {{ paragraph.title }}</p>
            <p class="ml-4 text-justify">{{ paragraph.content }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="sortedType.type === 'ParatagType'">
        <div *ngFor="let paratag of page.paratagList">
          <div *ngIf="paratag.paratagType.id === sortedType.typeId">
            <p class="h4 d-inline">{{ paratag.paratagType.name }} - {{ paratag.title }}</p>
            <div *ngIf="paratag.paratagType.size === 'SMALL'" class="d-inline ml-2">
              <div class="d-inline" *ngFor="let tag of paratag.tagList">
                <span class="badge rounded-pill bg-primary mr-2">{{ tag.name }}</span><span *ngIf="tag.content.length != 0">- {{ tag.content }}</span>
              </div>
            </div>
            <p>{{ paratag.content }}</p>
            <div *ngIf="paratag.paratagType.size === 'LARGE'" class="d-inline m">
              <div class="ml-4" *ngFor="let tag of paratag.tagList">
                <span class="badge rounded-pill bg-primary mr-1">{{ tag.name }}</span><span *ngIf="tag.content.length != 0">- {{ tag.content }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="sortedType.type === 'ParapageType'">

      </div>
    </div>
  </div>

</section>
