<section class="container my-4" style="white-space: pre-wrap;">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="" [routerLink]="['/pages/' + page?.category.id]">{{ page?.category.name }}</a></li>
    </ol>
  </nav>

  <div class="jumbotron-image" [style]="'background-image:url(http://localhost:8080/api/v1/resource/' +  page?.image.url + ');'">
    <div style="background-color: rgba(30, 32, 34, 0.6);">
      <div class="jumbotron mb-3 text-white" style="background-color: rgba(0, 0, 0, 0)!important;">
        <h1 class="display-4">{{ page?.title }}</h1>
        <p class="lead">{{ page?.description }}</p>
        <p class="float-right">by <a href="">{{ page?.user.username }}</a> the {{ page?.createdAt| date:'dd MMMM yyyy' }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="page">
    <div *ngFor="let sortedType of page.sortedTypeList">
      <div class="mb-3" *ngIf="sortedType.type === 'ParagraphType'">
        <div *ngFor="let paragraph of page.paragraphList">
          <div *ngIf="paragraph.paragraphType.id === sortedType.typeId" class="jumbotron mb-0 p-4">
            <p class="h4">{{ paragraph.paragraphType.name }} - {{ paragraph.title }}</p>
            <p class="ml-4 text-justify">{{ paragraph.content }}</p>
          </div>
        </div>
      </div>
      <div class="mb-3" *ngIf="sortedType.type === 'ParatagType'">
        <div *ngFor="let paratag of page.paratagList">
          <div *ngIf="paratag.paratagType.id === sortedType.typeId" class="jumbotron mb-0 p-4">
            <p class="h4 d-inline">{{ paratag.paratagType.name }} - {{ paratag.title }}</p>
            <p class="ml-4 mt-1 text-justify">{{ paratag.content }}</p>
            <div *ngIf="paratag.paratagType.size === 'SMALL'" class="d-inline">
              <div class="ml-4 d-inline" *ngFor="let tag of paratag.tagList">
                <span class="ml-4 badge rounded-pill bg-primary mr-2" data-toggle="tooltip" data-placement="right" title="Tooltip on right">{{ tag.name }}</span><!--<span *ngIf="tag.content.length != 0">- {{ tag.content }}</span>-->
              </div>
            </div>
            <div *ngIf="paratag.paratagType.size === 'LARGE'" class="d-inline">
              <div class="ml-4" *ngFor="let tag of paratag.tagList">
                <span class="ml-4 badge rounded-pill bg-primary mr-1">{{ tag.name }}</span><!--<span *ngIf="tag.content.length != 0">- {{ tag.content }}</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="sortedType.type === 'ParapageType'">

      </div>
    </div>
  </div>

</section>
