<section class="my-4 container">

  <table *ngIf="pages" class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let page of pages; let index = index">
      <th scope="row">{{ index + ' ' + infos.get(page.id) }}</th>
      <td>{{ page.innerPageList[0].title }}</td>
      <td><button type="button" class="btn btn-primary" [routerLink]="['/editpage', page.id]">Edit</button></td>
    </tr>
    </tbody>
  </table>

</section>
