<section class="my-4 container">

  <div id="alertPlacement"></div>

  <div class="vertical-center">
    <div class="w-100">
      <h2 class="h3 mb-3 text-center">Reset your password</h2>
      <form [formGroup]="formResetPassword" (ngSubmit)="SendEmail()" id="forgetForm"  class="form-center form-setting border rounded-lg">
        <div class="form-group">
          <label for="inputEmail" class="my-0">Email address</label>
          <input type="email" name="email" id="inputEmail" formControlName="email" class="form-control mt-2 mb-3"  autocapitalize="off" autofocus="autofocus">
        </div>
        <button [disabled]="formResetPassword.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Reset your password</button>
      </form>
    </div>
  </div>

</section>
