<section class="my-4 container">

  <h2 class="mb-4">Naturopath Website Terms of Service</h2>

  <div class="alert alert-primary" role="alert">
    We’ve updated our Terms of Service on April 8, 2020. <span>|</span><a class="ml-1" href="" data-toggle="modal" data-target="#archived">Archived versions</a>
  </div>

  <div class="modal fade" id="archived" tabindex="-1" role="dialog" aria-labelledby="archivedModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="font-weight-normal modal-title" id="archivedModal">Archived Terms of Service</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="display: block;">
            <li class="nav-item">
              <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">April 8, 2020</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-content" id="pills-tabContent">

    <h3 id="terms">1. Terms</h3>

    <p>By accessing this Website, accessible from https://naturopath.com/, you are agreeing to be bound by these Website Terms of Service and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

    <h3 id="use_license">2. Use License</h3>

    <p>Permission is granted to temporarily download one copy of the materials on Naturopath Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

    <ul>
      <li>reproduce, duplicate, modify or copy the materials;</li>
      <li>use the materials for any commercial purpose or for any public display;</li>
      <li>attempt to reverse engineer any software contained on Naturopath Website;</li>
      <li>remove any copyright or other proprietary notations from the materials;</li>
      <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
    </ul>

    <p>This will let Naturopath to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

    <h3 id="disclaimer">3. Disclaimer</h3>

    <p>All the materials on Naturopath are provided "as is". Naturopath makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Naturopath does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

    <h3 id="limitations">4. Limitations</h3>

    <p>Naturopath or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Naturopath Website, even if Naturopath or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

    <h3 id="revisions_and_errata">5. Revisions and Errata</h3>

    <p>The materials appearing on Naturopath Website may include technical, typographical, or photographic errors. Naturopath will not promise that any of the materials in this Website are accurate, complete, or current. Naturopath may change the materials contained on its Website at any time without notice. Naturopath does not make any commitment to update the materials.</p>

    <h3 id="links">6. Links</h3>

    <p>Naturopath has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Naturopath of the site. The use of any linked website is at the user’s own risk.</p>

    <h3 id="site_terms_of_use_modifications">7. Site Terms of Use Modifications</h3>

    <p>Naturopath may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

    <h3 id="your_privacy">8. Your Privacy</h3>

    <p>Please read <a routerLink="/privacy">our Privacy Policy</a>.</p>

    <h3 id="governing_law">9. Governing Law</h3>

    <p>Any claim related to Naturopath Website shall be governed by the laws of fr without regards to its conflict of law provisions.</p>

  </div>

</section>
