<section class="my-4 container">

  <h2 class="mb-4">Add a new category</h2>

  <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
    <div class="form-group">
      <div class="input-group mb-0">
        <div class="input-group-prepend">
          <label class="input-group-text" for="category" >Select category</label>
        </div>
        <select class="custom-select" id="category" formControlName="category">
          <option>No category</option>
          <option *ngFor="let category of categories" aria-label="breadcrumb">
            {{ category.name }}
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">{{ category.name }}</a></li>
                <li *ngFor="let ca of category.childCategory" class="breadcrumb-item active" aria-current="page"><a href="#">
                  {{ ca.name }}
                </a></li>
              </ol> -->
          </option>
        </select>
      </div>
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
    </div>
    <div class="col-auto my-1">
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="isParent" formControlName="isParent">
        <label class="custom-control-label" for="isParent">Parent choice</label>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
      <div *ngIf="addCategoryForm.get('name').invalid &&
        (addCategoryForm.get('name').dirty || addCategoryForm.get('name').touched)" >
        <p *ngIf="addCategoryForm.get('name').errors.required"
           class="note text-danger">Please type a name.</p>
        <p *ngIf="addCategoryForm.get('name').errors.maxlength || addCategoryForm.get('name').errors.minlength"
           class="note text-danger">Please insert minimum of 6 characters and a maximum of 32 characters.</p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
      <p class="note" style="margin-bottom: 0">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</p>
      <div *ngIf="addCategoryForm.get('description').invalid &&
        (addCategoryForm.get('description').dirty || addCategoryForm.get('description').touched)" >
        <p *ngIf="addCategoryForm.get('description').errors.required"
           class="note text-danger">Please type a description.</p>
        <p *ngIf="addCategoryForm.get('description').errors.minlength || addCategoryForm.get('description').errors.minlength"
           class="note text-danger">Please insert minimum of 16 characters and a maximum of 1024 characters.</p>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="addCategoryForm.invalid" type="submit">Add a category</button>
  </form>
</section>
