<section class="my-4 container-fluid" style="max-width: 1900px">

  <div class="row">
    <div class="col-md-auto" >
      <div class="jumbotron jumbotron-fluid p-4 page-border-radius">
        <small *ngIf="categories && searchForm" class="text-danger">{{ printError(searchForm.get('input')) }}</small>
        <form *ngIf="categories && searchForm" [formGroup]="searchForm" (ngSubmit)="search()" class="mb-2">
          <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput type="text" formControlName="input"/>
          </mat-form-field>
          <mat-form-field class="example-chip-list mt-0">
            <mat-chip-list #chipList aria-label="Tag selection">
              <mat-chip
                *ngFor="let fruit of tagSearch"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(fruit)">
                {{ tagsMap.get(fruit).name }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Add tags"
                #fruitInput
                [formControl]="fruitCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{ tagsMap.get(fruit).name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button class="btn btn-sm btn-outline-primary btn-block" [disabled]="searchForm.invalid" type="submit">Search</button>
        </form>
        <button class="btn btn-sm btn-outline-primary btn-block" (click)="clear()">Clear</button>
        <hr class="style1 mt-4">
        <nav class="nav flex-column">
          <div *ngFor="let category of categories">
            <li *ngIf="category.childCategory.length === 0; else notEmpty" class="nav-item">
              <a class="nav-link" [routerLink]="['/pages', category.id]">{{ category.name }}</a>
            </li>
            <ng-template #notEmpty>
              <p class="mb-0 ml-3">{{ category.name }}</p>
              <li *ngFor="let ca of category.childCategory" class="nav-item ml-3">
                <a class="nav-link" [routerLink]="['/pages', ca.id]">{{ ca.name }}</a>
              </li>
            </ng-template>
          </div>
        </nav>
      </div>
    </div>
    <div class="col" style="max-width: 1500px">
      <div *ngIf="noId" class="jumbotron mb-4 p-4 page-border-radius">
        <h5 class="display-5">You have not selected a category!</h5>
        <p class="lead">So we suggest you to discover the <span class="cur display-5 text-primary" [routerLink]="['/pages', id]">{{ name }}</span> category.</p>
      </div>

      <div *ngIf="url !== null; else elseBlockNoId">
        <div class="page-image page-border-radius" [style]="'background-image:url(http://localhost:8080/api/v1/resource/' +  url + ');'">
          <div class="page-border-radius" style="background-color: rgba(30, 32, 34, 0.6);">
            <div class="jumbotron p-5 mb-4 text-white page-border-radius" style="background-color: rgba(0, 0, 0, 0)!important;">
              <p class="display-3">{{ name }}</p>
              <p class="lead">{{ description }}</p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlockNoId>
        <div class="jumbotron p-4">
          <p class="display-4">{{ name }}</p>
          <p class="lead">{{ description }}</p>
        </div>
      </ng-template>

      <div *ngIf="dataSource && dataSource.length !== 0; else elseBlockSearch">
        <div class="row">
          <div *ngFor="let page of dataSource" class="col-md mb-4">
            <div class="card zoom" [routerLink]="['/page', page.id]" style="min-width: 400px">
              <div class="card-header">
                <h4 class="display-5 text-primary">{{ page.title }}</h4>
                <p class="lead mb-0" style="font-size: 1.15rem;">{{ page.description }}</p>
              </div>
              <div class="card-body p-0 page-image" [style]="'height:300px;background-image:url(http://localhost:8080/api/v1/resource/' +  page.image.url + ');border-radius: 0 0 0.20rem 0.20rem;'"></div>
            </div>
          </div>
        </div>
        <mat-paginator #paginator
                       [length]="length"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="[9, 18, 25, 99]"
                       (page)="pageEvent = updateData($event)">
        </mat-paginator>
      </div>
      <ng-template #elseBlockSearch>
        <div *ngIf="searchDone " class="jumbotron p-4">
          <p class="display-5">Your search <span class="text-primary">{{ searchDone }}</span> did not match any documents</p>
          <p class="lead mb-1">Suggestions:</p>
          <ul>
            <li class="lead">Make sure that all words are spelled correctly.</li>
            <li class="lead">Try different keywords.</li>
            <li class="lead">Try more general keywords.</li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
</section>
