<section class="my-4 container">
  <div class="row">
    <div class="col-md-auto">
      <nav class="nav flex-column">
        <div *ngFor="let category of categories">
          <li *ngIf="category.childCategory.length === 0; else notEmpty" class="nav-item">
            <a class="nav-link" [routerLink]="['/pages', category.id]">{{ category.name }}</a>
          </li>
          <ng-template #notEmpty>
            <li class="nav-item dropdown">
              <p class="nav-link dropdown-toggle m-0" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.name }}
              </p>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a *ngFor="let ca of category.childCategory" class="dropdown-item" style="font-size: 14px" [routerLink]="['/pages', ca.id]">{{ ca.name }}</a>
              </div>
            </li>
          </ng-template>
        </div>
      </nav>
    </div>
    <div class="col">
      <h2 class="font-weight-normal mb-4">{{ name }}</h2>
      <hr class="style1 mb-4">
      <div *ngIf="pages" class="row">
        <div *ngFor="let page of pages.pageList" class="col-md-4 mb-4">
          <a class="card" [routerLink]="['/page', page.id]">
            <div class="card-header">
              <h4 title="{{ page.title }}" class="font-weight-normal">{{ page.title }}</h4>
            </div>
            <div class="card-body p-0">
              <img [src]="'http://localhost:8080/api/v1/resource/' + page.image.url" width="100%">
            </div>
          </a>
        </div>
      </div>
      <nav *ngIf="pages && pages.number <= index" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" [routerLink]="['/pages', id, 1]">1</a>
          </li>
          <div *ngFor="let x of pagi">
            <li class="page-item>">
              <a class="page-link" [routerLink]="['/pages', id, x]">{{ x }}</a>
            </li>
          </div>
          <li class="page-item">
            <a class="page-link" [routerLink]="['/pages', id, index]">{{ pages.number / offset}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
