<section class="my-4 container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <nav class="nav flex-column jumbotron jumbotron-fluid p-4">
        <div *ngFor="let category of categories">
          <li *ngIf="category.childCategory.length === 0; else notEmpty" class="nav-item">
            <a class="nav-link" [routerLink]="['/pages', category.id]">{{ category.name }}</a>
          </li>
          <ng-template #notEmpty>
            <li class="nav-item dropdown">
              <p class="nav-link dropdown-toggle m-0" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.name }}
              </p>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a *ngFor="let ca of category.childCategory" class="dropdown-item" style="font-size: 14px" [routerLink]="['/pages', ca.id]">{{ ca.name }}</a>
              </div>
            </li>
          </ng-template>
        </div>
      </nav>
    </div>
    <div class="col" style="max-width: 1500px">
      <div *ngIf="noId" class="jumbotron p-4">
        <h5>You have not selected a category!</h5>
        <p class="lead">So we suggest you to discover the <span class="display-5 text-primary">{{ name }}</span> category.</p>
      </div>
      <div class="jumbotron p-4">
        <p class="display-4">{{ name }}</p>
        <p class="lead">{{ description }}</p>
      </div>
      <div *ngIf="dataSource" class="row">
        <div *ngFor="let page of dataSource" class="col-md mb-4">
          <a class="card" [routerLink]="['/page', page.id]" style="min-width: 400px">
            <div class="card-header">
              <h4 title="{{ page.title }}" class="font-weight-normal">{{ page.title }}</h4>
            </div>
            <div class="card-body p-0 page-image" [style]="'height:300px;background-image:url(http://localhost:8080/api/v1/resource/' +  page.image.url + ');'"></div>
          </a>
        </div>
      </div>
      <mat-paginator #paginator
                     [length]="length"
                     [pageIndex]="pageIndex"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[9, 18, 25, 99]"
                     (page)="pageEvent = updateData($event)">
      </mat-paginator>

    </div>
  </div>
</section>
