.page-image {
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}
.card:hover {
  cursor: pointer;
}
.nav-link:hover {
  text-decoration: underline;
}
