/* Dark - All */
.dark,
.dark input,
.dark section,
.dark textarea,
.dark select {
  background-color: #181a1b;
}
.dark,
.dark input,
.dark textarea,
.dark select,
.dark td,
.dark .custom-file-label,
.dark th {
  border-color: #575757;
  color: #e8e6e3;
}
.dark .form-control,
.custom-file-input:lang(en) ~ .custom-file-label::after,
.dark .custom-file-label {
  color: rgb(202, 198, 190) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgb(54, 63, 72) !important;
}
.dark a {
  color: #3391ff;
}
.dark table {
  border-color: #4c4c4c;
}
.dark ::placeholder {
  color: #bab5ab;
}
.dark ::selection {
  background-color: #005ccc;
  color: #ffffff;
}
.dark ::-moz-selection {
  background-color: #005ccc;
  color: #ffffff;
}
.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  background-color: #545b00 !important;
  color: #e8e6e3 !important;
}
.dark ::-webkit-scrollbar {
  background-color: #1c1e1f;
  color: #c5c1b9;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #2a2c2e;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #323537;
}
.dark ::-webkit-scrollbar-thumb:active {
  background-color: #3d4043;
}
.dark ::-webkit-scrollbar-corner {
  background-color: #181a1b;
}
.dark * {
  scrollbar-color: #2a2c2e #1c1e1f;
}
/* Dark - Site */
.dark .border:not(.ish) { /* not ish for the modal of images */
  border: 1px solid rgb(64, 60, 53) !important;
}
.dark .alert-success {
  color: rgb(168, 234, 183) !important;
  background-color: rgb(23, 54, 30) !important;
  border-color: rgb(41, 99, 54) !important;
}
.dark .alert-danger {
  color: rgb(230, 155, 162) !important;
  background-color: rgb(64, 11, 16) !important;
  border-color: rgb(129, 23, 34) !important;
}
.dark .alert-warning {
  color: rgb(251, 219, 127);
  background-color: rgb(81, 62, 0);
  border-color: rgb(167, 126, 0);
}
.dark .dropdown-menu, .dark .mat-select-panel {
  color: rgb(218, 215, 210) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgba(102, 102, 102, 0.15) !important;
}
.dark .dropdown-item:hover, .dark .mat-option  {
  background-color: rgba(255, 255, 255, 0.03) !important;
  color: rgb(232, 230, 227) !important;
}
.dark .dropdown-divider {
  border-top-color: rgb(50, 59, 68) !important;
}
.dark .rc-anchor-light.rc-anchor-normal {
  /* MARCHE PAS */
  border-color: rgb(60, 60, 60) !important;
}
.dark .rc-anchor-light {
  /* MARCHE PAS */
  background-color: rgb(26, 28, 29) !important;
  color: rgb(232, 230, 227) !important;
}
.dark .card-body {
  background-color: #101112 !important;
}
.dark .card {
  background-color: rgba(255, 255, 255, 0.05);
}
.dark .card-header,
.dark .input-group-prepend label,
.dark .breadcrumb {
  background-color: #24292e!important
}
.dark .input-group-prepend label {
  color: rgb(232, 230, 227) !important;
  border-color: #24292e!important;
}
.dark .modal-content {
  background-color: #181a1b !important;
  border-color: #181a1b !important;
  color: rgb(232, 230, 227) !important;
}
.dark .close span {
  color: rgb(232, 230, 227) !important;
}
.dark pre code {
  color:rgb(232, 230, 227) !important;
}
.dark hr {
  border-color:rgb(255, 255, 255, .1) !important;
}
.dark .input-group-addon {
  background-color: #24292e !important;
  border-color: rgb(54, 63, 72) !important;
  color: rgb(232, 230, 227) !important;
}
.dark .nav-tabs .nav-link.active {
  color: rgb(232, 230, 227) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgb(54, 63, 72) rgb(54, 63, 72) rgb(24, 26, 27);
}
.dark .nav-tabs .nav-link:hover {
  border-color: rgb(54, 63, 72);
}
.dark .modal-header, .dark .modal-footer {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.dark .nav-tabs {
  border-color: rgb(54, 63, 72);
}
.dark .table td,
.dark .table th,
.dark .table thead th {
  border-color: rgba(255, 255, 255, 0.2);
}
.dark .page-link  {
  background-color: rgb(36, 41, 46) !important;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgb(232, 230, 227) !important;
}
.dark .page-link.active {
  background-color: rgb(36, 41, 46) !important;
  border-color: #007bff;
}
.dark .jumbotron {
  background-color: rgb(30, 32, 34) !important;
}
.dark .list-group-item {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-bottom-color: rgba(102, 102, 102, 0.13) !important;
}
.dark .list-group-item-action {
  color: rgb(232, 230, 227) !important
}

/* drag and drop */

.dark .example-list, .dark .example-box {
  color: rgb(202, 198, 190) !important;
  background-color: rgb(24, 26, 27) !important;
  border-color: rgb(54, 63, 72) !important;
}

/* mat table */

.dark .mat-select-arrow {
  color: rgb(232, 230, 227) !important;
}

.dark .mat-form-field-underline {
  border-color: rgb(232, 230, 227) !important;
}

.dark .mat-table, .dark .mat-paginator, .dark .mat-select-value, .dark .mat-paginator-icon {
  background-color: rgb(30, 32, 34) !important;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgb(232, 230, 227) !important;
}
