/* You can add global styles to this file, and also import other style files */
.form-control.ng-touched.ng-invalid{
  border: 1px solid red;
}
.form-control.ng-touched.ng-valid{
  border: 1px solid green;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
svg {
  fill: currentColor;
}
/* Sticky Footer Styles */
html {
  position: relative;
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  margin-bottom: 60px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.note {
  margin-bottom: 1rem !important;
  margin-top: 0.25rem !important;
  font-size: 14px !important;
}
.note-error {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 14px;
}
.nav-w {
  color: #fff !important;
}
.nav-item {
  cursor: pointer;
}

/* Form */
.vertical-center {
  min-height: calc(80vh - 116px - 250px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
