/* You can add global styles to this file, and also import other style files */
/* For The Site */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
/* Sticky Footer Styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #24292e;
}
.note {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  font-size: 14px;
}
.note-error {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 14px;
}
/* Form */
.form-center {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-center .checkbox {
  font-weight: 400;
}
.form-center .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-center .form-control:focus {
  z-index: 2;
}
.form-center input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-center input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* YPC */
.ypc-card ul li:nth-child(2),
.ypc-card ul li:nth-child(3),
.ypc-card ul li:nth-child(4) {
  margin-left: 30px;
}
.ypc-card ul {
  margin-left: 30px;
}
.card {
  background-color: rgba(0,0,0,.03);
}
.add, .unlisted {
  color: rgb(127, 224, 149) !important;
}
.public {
  color: rgb(127, 224, 149) !important;
}
.remove {
  color: rgb(227, 94, 107) !important;
}
.deleted {
  color: rgb(227, 94, 107) !important;
}
.private, .unknow {
  color: rgb(255, 204, 51) !important;
}
.notification {
  position: absolute;
  top: 5px;
  right: 29px;
  /*-webkit-animation: breathing 2s ease-out infinite normal;
  animation: breathing 2s ease-out infinite normal;*/
}
.notification .notification-badge {
  position: absolute;
  padding: 2px 8px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 14px;
}
.menu-notification {
  position: absolute;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
  right: 8px;
  font-size: 10px;
  margin-top: 2px;
}
pre {
  /*word-wrap: break-word;
        white-space: pre-wrap;*/
  max-width: 550px;
}
.nav-w,
.footer p {
  color: #fff !important;
}
svg {
  fill: currentColor;
}
.nav-item {
  cursor: pointer;
}

/* Checkbox */
/* The container */
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.vertical-center {
  min-height: 100%;
  min-height: calc(80vh - 116px - 250px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.input-daterange {
  max-width: 300px !important;
}

/* video responsive */
.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
