<section class="my-4 container">
  <h2 class="mb-4">Add a new tag</h2>
  <form *ngIf="tagTypeList" [formGroup]="addTagForm" (ngSubmit)="addTag()">
    <div class="form-group">
      <div class="input-group mb-0">
        <div class="input-group-prepend">
          <label class="input-group-text">Select type</label>
        </div>
        <select class="custom-select" formControlName="tagType">
          <option *ngFor="let tagType of tagTypeList" aria-label="breadcrumb">
            {{ tagType.name }}
          </option>
        </select>
      </div>
      <small class="form-text text-muted">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</small>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <small class="form-text text-muted">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</small>
      <small class="text-danger">{{ printError(addTagForm.get('name')) }}</small>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="6" formControlName="content"></textarea>
      <small class="form-text text-muted">The description is use for je sqis pqs auoi voilq pourauoi faut la taper</small>
      <small class="text-danger">{{ printError(addTagForm.get('content')) }}</small>
    </div>
    <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="addTagForm.invalid" type="submit">Add a tag</button>
  </form>
</section>



